@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1300px;
}
.homebg{
  background: url("../assets/doctorbg.png") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Media query for tablets */
@media (max-width: 1024px) {
  .container {
    width: 90%; /* You can adjust this value as needed */
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .container {
    width: 100%; /* Adjust the width to fit smaller screens */
  }
}